---
# OAuth --------------------------------------------------------------------------------------
## tools
- path: /oauth/email
  method: POST
  sign: true
- path: /oauth/sms
  method: POST
  sign: true
- path: /oauth/geetest
  method: GET

## transfer
- path: /oauth/transfer
  method: GET
  sign: true
- path: /oauth/transfers/create
  method: POST
  auth: true
  sign: true
  currency_can_transfer: true
- path: /oauth/transfers/back
  method: POST
  auth: true
  trust: true
  sign: true
  currency_can_transfer: true

## user
- path: /oauth/authorize
  method: GET
- path: /oauth/access_token
  method: GET
- path: /oauth/login
  method: GET
  trust_geetest: true
- path: /oauth/login
  method: POST
  trust_geetest: true
- path: /oauth/user_info
  method: GET
  auth: true
