---
# Guest --------------------------------------------------------------------------------------
## currency
- path: /api/guest/currencies
  method: GET

## user
- path: /api/guest/user/accounts
  method: GET
  auth: true

## Wechat user
- path: /api/guest/user/wechat/login
  method: GET
- path: /api/guest/user/wechat/callback
  method: GET

## recharge wechat
- path: /api/guest/recharge/wechat
  method: POST
  auth: true
- path: /api/guest/v1/recharge/wechat/verify
  method: GET
- path: /api/guest/v1/recharge/wechat/verify
  method: POST
