model: development
newrelic:
  app_name: Cherry
  license_key: 
EMAIL:
  SMTP_PORT: 587
  SMTP_DOMAIN: mail2.rfinex.com
  SMTP_ADDRESS: smtp587.sendcloud.net
  SMTP_USERNAME: otcone
  SMTP_PASSWORD: S9p1XTe1KFPVl1Dw
  SYSTEM_MAIL_FROM: system@mail.rfinex.com
SMS:
  SMS_USER: 3042344360915878K96k
  SMS_KEY: KQtrQ6NZjyIHjGX7F6he8nj4e98Q2Bfw
  API_URL: http://www.sendcloud.net/smsapi/send
  VOICE_API_URL: http://www.sendcloud.net/smsapi/sendVoice
  VALIDATE_CODE: 11254
  SMS_253_ACCOUNT: I6413655
  SMS_253_PASSWORD: 1xmOiLfGKyaec4
Wechat:
  appid: ""
  secret: ""
  mch_id: ""
  key: ""
  authorize: https://open.weixin.qq.com/connect/qrconnect
  openid: https://api.weixin.qq.com/sns/jscode2session
  access_token: https://api.weixin.qq.com/sns/oauth2/access_token
  user_info: https://api.weixin.qq.com/sns/userinfo
  redirect_url_path: /api/web/users/wechat/callback
  notify_url_path: /api/web/recharge/wechat/verify