---
- name: SmsWorker
  exchange: center.default
  routing_key: center.notification.sms
  queue: center.notification.sms
  durable: true
  threads: 2
  steps:
    - 10000
    - 60000

- name: EmailWorker
  exchange: center.default
  routing_key: center.notification.email
  queue: center.notification.email
  durable: true
  threads: 2
  steps:
    - 10000
    - 60000
